# Python bytecode
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Flask-specific
instance/


# Build output
dist/
build/
